
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color:rgba(245, 245, 245, 0.659);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.navbar-title {
  font-size: 1.5rem;
}

.navbar-links {
  list-style: none;
  display: flex;
}

.navbar-links li {
  margin-right: 10px;
  font-size: 24px;

}

.navbar-links li a {
  color: black;
  text-decoration: none;
}


.header {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.carousel img {
  display: block;
  margin: 0 auto; 
  height: 300px;
  margin-top: 20px;
}


.card-container {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}


.card {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 5px;
  width: 30%;
  margin-bottom: 10px;
}

.card img {
  max-width: 400px;
  height: auto;
  display: block; 
  margin: 0 auto; 

}

.card-text {
  margin-bottom: 1px;
  font-size: 20px;; /* Atur margin bawah */
}

.card h2 {
  margin-top: 0;
}

.card h5.card-title {
  font-size: 24px; 
}


.footer {
  background-color: whitesmoke;
  text-align: center;
  padding: 10px 0;
}

.date-time {
  font-size: 1.2em; 
}

.greeting {
  font-size: 1.5em;
}

