body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: lightcoral;
}

.navbar {
  background-color:rgba(245, 245, 245, 0.659);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar-title {
  font-weight: bold;
  font-size: 12px;
}

.navbar-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  margin-right: 20px;
}

.navbar-links li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.navbar-links li:last-child {
  margin-right: 0;
}
.header {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.carousel img {
  display: block;
  margin: 0 auto; 
  height: 200px;
  margin-top: 20px;
}

.card-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card {
  background-color: #f9f9f9;
  padding: 20px;
  width: 30%;
  margin-bottom: 10px;
}

.card img {
  width: 150px; /* Smaller width */
  height: 150px; /* Smaller height */
  object-fit: cover;
  margin-bottom: 10px; /* Add margin to separate image from text */
}
p{
  font-size: 12px;
}
.card-text {
  margin-bottom: 1px;
  font-size: 12px; /* Atur margin bawah */
}

.footer {
  background-color: whitesmoke;
  text-align: center;
  padding: 10px 0;
}

.date-time {
  font-size: 0.8em; /* Smaller font size */
}

.greeting {
  font-size: 14px; /* Smaller font size */
  font-weight: bold;
}